@import 'lib';

a {
	cursor: pointer;
}

.api-name {
	font-size: 26px;
}
.api-main {
	max-width: 90%;
	margin: 0 auto;
}

.api-container {
	border-bottom: 1px solid #ddd;
}

.endpoint-container {
	padding: 10px;

	.api-endpoint {
		cursor: pointer;
	}
}

.options {
	padding: 10px;
	background-color: white;
}

.error {
	color: $red;
	font-weight: bold;
}

.endpoints {
	float: left;
	height: 400px;
	margin-right: 40px;
	overflow: scroll;
	width: 30%;
}

.options {
	float: right;
}

.playfield, .options {
	position: relative;
	background-color: white;
	border: 1px solid #ddd;
	margin-top: -35px;
	padding: 10px;
	width: 60%;

	.button {
		margin: 5px 0 0 10px;
	}
	input {
		margin: 5px;
	}
}

.playfield {
	margin-top: 10px;
	float: right;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.response {
	margin-top: 5px;
	position: relative;
	overflow: scroll;
	width: 100%;
}

.toolbox {
	height: 80px;
	background-color: #eee;
	padding: 10px;
	margin-bottom: 10px;
}

.view {
	height: 75%;
	overflow: scroll;
}

.user-email {
	margin-right: 15px;	
}
